node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.local-browsers/
.env
/tests/installation/output/
/tests/installation/.registry.json
.cache/
.eslintcache
.trace
.tmp
.vscode